# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Logs
*.log
*.tlog

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

*.vcxproj
*.filters
*.pdb
*.ipch
*.user
*.ilk
*.idb
*.db
*.sdf
*.sln
*.cache
*.opendb

bin/*.lib
core/*.lib
prj/.vs/CGA/v14/.suo
prj/.vs/CGA/v15/.suo
prj/.vs/CGA/v15/Solution.VC.db-shm
prj/.vs/CGA/v15/Solution.VC.db-wal
